body {
display: flex;
flex-direction: column;
}

main {
display: flex;
flex: auto;
}

article {
flex: 2;
overflow-y: auto;
background-color: #f9f9f8;
color: rgb(61, 14, 14)

}

aside {
flex: 1;
overflow-y: auto 
}


